footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 40px;
}

/* * Footer Font-Size */
.footer__div a {
    font-size: 1.2rem;
}

.footer__div h3 {
    font-size: 1.4rem;
}

.footer__div p {
    font-size: 1.2rem;
}

.footer__div:first-child span {
    font-weight: bolder;
    color: black;
}

.span__subscribe {
    font-weight: bolder;
    color: black;
}

.p__italic {
    font-style: italic;
    padding-top: 5px;
}



/* * Footer Design */

.footer__center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footer__div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__div a{
    color: var(--manufactor-color);
    text-decoration: none;
}

.footer__right {
    position: relative
}
.footer__right .footer__div{
    position: absolute;
    left: 50%;
}

.div__right {
    display: flex;
    flex-direction: column;
}

.p__Corporate {
    padding-top: 20px;
    font-size: 1rem;
    padding-bottom: 5px;
}

.p__Corporate::before {
    content: "\00A9"
}