nav {
    position:sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-nav) 0
}

nav div {
    display: flex;
    gap: 30px;
}

nav div a {
    text-decoration: none;
    color: black;
}
